@charset "utf-8";

body,
div,
ul,
a{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	vertical-align: baseline;
}

ul{
	list-style: none;
}

a, a:link{
	text-decoration: none;
	}
.fg-line{
	display: inline-block;
	width: 1px;
	height: 14px;
	vertical-align: middle;
	padding: 0;
	/*
	margin-top: 14px;
	*/
	margin-right: 0px;
	background: #61656b;
}
.clear_float{
	clear: both;
}
ul li a em.ch-lang{
	width: 18px;
	height: 12px;
	background: url(../images/vi_icon.png) no-repeat;
	display: inline-block;
	background-position: -11px 0;
	vertical-align: middle;
	padding: 0px;
}
