@charset "utf-8";

#new_header{
	position: relative;
	height: 80px;
	z-index: 99;
}
#top_header{
	width: 100%;
	height: 40px;
	top: 0;
	position: fixed;
	background: #1c232b;
}

#top_header_left{
	display: inline-block;
	margin-left: 30px;
}

.top_h_l_li{
	position: relative;
	height: 40px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	margin-right: 10px;
}
.top_h_l_li  a{
	height: 40px;
	cursor: pointer;
	color: #fff;
}

.top_h_l_li  a > em{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/vi_icon.png) no-repeat;
	vertical-align: middle;
	padding: 0px;
	margin-top: -2px;
	margin-right: 5px;
}
.top_h_l_li  a  img{
	color: #fff;
	vertical-align: middle;
}
.top_h_l_li a   i{
	background: url(../images/vi_icon.png) no-repeat;
	display: inline-block;
	width: 6px;
	height: 4px;
	margin-left: 10px;
	vertical-align: middle;
}




.top_list{
	width: 100%;
	position: absolute;
	left: 0;
	top: 40px;
	background: #12181e;
	padding: 10px 0;
	display: none;
}
#left_offical_logo:hover .top_list,#left_lang:hover .top_list{
	display: inline-block;
}
#left_lang a:hover, .top_list a:hover, .top_h_l_li a:hover{
	color: rgb(187, 147, 68);
	opacity: 0.6;
}
.top_list li a{
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	display: block;	
}

ul li a i.top_fashion_all_link_for_cloth{
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
	background-position: -58px -417px;
	margin-left: 5px;
	margin-right: 5px;
	width: 13px;
	margin-top: -2px;
	height: 14px;
}
ul li a i.top_fashion_all_link_for_bag{
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
	background-position: -58px -417px;
	margin-left: 5px;
	margin-right: 5px;
	width: 13px;
	margin-top: -2px;
	height: 14px;
}
ul li a i.top_fashion_all_link_for_showes{
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
	background-position: -58px -417px;
	margin-left: 5px;
	margin-right: 5px;
	width: 13px;
	margin-top: -2px;
	height: 14px;
}
ul li a i.top_fashion_all_link_for_jewelry{
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
	background-position: -58px -417px;
	margin-left: 5px;
	margin-right: 5px;
	width: 13px;
	margin-top: -2px;
	height: 14px;
}
ul li a i.top_fashion_all_link_for_home{
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
	background-position: -58px -417px;
	margin-left: 5px;
	margin-right: 5px;
	width: 13px;
	margin-top: -2px;
	height: 14px;
}
ul li a i.top_fashion_all_link_for_offical_website{
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
	background-position: -58px -417px;
	margin-left: 5px;
	margin-right: 5px;
	width: 13px;
	margin-top: -2px;
	height: 14px;
}
ul li a i.top_fashion_all_link_for_future{
	display: inline-block;
	background: url(../images/icons.png) no-repeat;
	background-position: -58px -417px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -2px;
	width: 13px;
	height: 14px;
}

/***lang**/
ul li a i.lang_korea{
	display: inline-block;
	background: url(../images/vi_icon.png) no-repeat;
	background-position: -36px -0px;
	margin-top: -2px;
	margin-right: 7px;
	width: 16px;
	height: 16px;
	vertical-align: center;
}

ul li a i.lang_en{
	display: inline-block;
	background: url(../images/vi_icon.png) no-repeat;
	background-position: -59px -0px;
	margin-top: -2px;
	margin-right: 7px;
	width: 14px;
	height: 11px;
	vertical-align: center;
}

ul li a em.web_desc{
	/*
	display: inline-block;
	*/
	width: 12px;
	height: 12px;
	/*
	background: url(../images/vi_icon.png) no-repeat;
	*/
	background-position: -81px 0;
	/*
	vertical-align: middle;
	padding: 0px;
	margin-top: -2px;
	*/
}

ul li a em.custom_exe{
	/*
	display: inline-block;
	*/
	width: 13px;
	height: 12px;
	/*
	background: url(../images/vi_icon.png) no-repeat;
	*/
	background-position: -101px 0;
	/*
	vertical-align: middle;
	padding: 0px;
	margin-top: -2px;
	*/
}


/********top right**********/
#top_header_right{
	position: relative;
	display: inline-block;
	height: 40px;
	float: right;
}
.top_r_li{
	float: left;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	margin-right: 10px;
	float: right;
}
.top_more{
	padding: 0;
	display: inline-block;
	width: 40px;
	margin: 0;
	background: #d8b056;
	cursor: pointer;
}
.top_more em{
	background: url(../images/rotate1.png) no-repeat;
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 12px 0 0 10px;
	transition: 0.4s;
}
.find_brand a em{
	display: inline-block;
	background: url(../images/vi_icon.png) no-repeat;
	background-position: -24px -22px;
	width: 15px;
	height: 13px;
	margin-right: 5px;
	margin-top: -2px;
}

.top_search input{
	background: #1c232b;
	width: 100%;
	height: 20px;
	border: 0 none;
	border-bottom: 1px solid #878a8d;
	background: none;
	color: #fff;
}
.top_search input::placeholder{
	color: #fff;
	opacity: 1;
}
.top_search input::-moz-placeholder{
	color: #fff;
	opacity: 1;
}

.top_search input::-webkit-placeholder{
	color: #fff;
	opacity: 1;
}

.top_search em{
	position: absolute;
	display: inline-block;
	background: #1c232b url(../images/vi_icon.png) no-repeat 10px -22px;
	width: 27px;
	height: 16px;
	right: 0px;
	top: 12px;
	cursor: pointer;
}
.find_us a em{
	display: inline-block;
	background: url(../images/vi_icon.png) no-repeat -124px 0;
	width: 16px;
	height: 18px;
}
ul li.find_us div.top_list{
	position: absolute;
	float: right;
	top: 40px;
	left: auto;
	right: 0;
	background: #13181e;
	width: 204px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
}
.find_us:hover .top_list{
	display: inline-block;
}
.find_us_by_qq{
	width: 186px;
	height: 36px;
	background: #fff;
	border-radius: 3px;
	cursor: pointer;
	line-height: 36px;
	text-align: center;
	margin: auto;
	margin-bottom: 15px;
}
.find_us_by_qq a{
	display: block;
	color: #ab7b10;
	margin-left: 10px;
}
.find_us_by_qq a em{
	display: inline-block;
	background: url(../images/vi_icon.png) -38px -168px;
	width: 17px;
	height: 17px;
	margin-right: 5px;
	font-size: 14px;
	vertical-align: middle;
}
.find_us_by_qq:hover{
	background-color: #ab7b10;
}

.find_us_by_qq:hover a{
	color: #000;
}

.find_us_by_qq:hover a em{
	background: url(../images/vi_icon.png) -63px -168px;
}

